---
import Layout from "../layouts/Layout.astro" 
import NavBar from "../components/NavBar.astro"
import {FormInscriptions} from "../components/react/layout/FormInscriptions.tsx";
import ContentModal from "../components/ContentModal.astro";
---
<Layout>
  <NavBar/>
  <div class="w-full flex justify-center mt-10" >
    <ContentModal title="Obtener ficha" description="Completa los pasos para generar tu ficha de adminision">
     <FormInscriptions client:only="react" /> 
    </ContentModal>
  </div>

</Layout>
