---
import Layout from '../layouts/Layout.astro'
import NavBar from '../components/NavBar.astro'
import Hero from '../components/Hero.astro'
import About from '../components/About.astro'
import News from '../components/News.astro'
import Footer from '../components/Footer.astro'

---

<Layout title="NovaUniversitas - Elaris">
  <NavBar />
  <main>
    <Hero />
    <About />
    <News />
  </main>
  <Footer />
</Layout>
