---
---

<section class="relative min-h-[80vh] flex items-center overflow-hidden">
  <div class="absolute inset-0 bg-cover bg-center bg-no-repeat"
    style="background-image: url('https://www.novauniversitas.edu.mx/web/sites/default/files/inline-images/BannerNovaCentral_0.jpg')">
  </div>

  <div class="absolute inset-0 bg-linear-to-r from-white/90 via-white/20 to-transparent"></div>

  <div class="relative">
    <span>NovaUniversitas</span>
    <h1>Para Fortalecer Formación Profesional</h1>
  </div>
</section>
