---
---

<header class="sticky top-0 z-50 w-full bg-white dark:bg-background-dark border-b border-slate-200 dark:border-slate-800">
  <div class="max-w-full mx-auto px-4 sm:px-6 ">
    <div class="flex justify-start items-center h-16">
      <div class="flex items-start gap-3">
        <h1 class="text-xl font-bold tracking-tight text-slate-900 dark:text-white">
          NovaUniversitas
        </h1>
      </div>
    </div>
  </div>
</header>
