---
const { graduateProfile } = Astro.props;
---

<section id="graduate-profile">
  <div class="bg-primary/5 rounded-2xl p-8">
    <h3 class="text-2xl font-bold mb-6">Perfil de egreso</h3>

    <p class="text-gray-700">
      {graduateProfile}
    </p>
  </div>
</section>