<div
  class="border-b border-gray-200 dark:border-gray-800 top-16 bg-background-light/90 backdrop-blur-sm z-40"
>
  <nav class="flex gap-8 overflow-x-auto">

    <a
      href="#overview"
      class="border-b-2 border-primary text-primary py-4 text-sm font-bold"
    >
      Curso
    </a>

    <a
      href="#requirements"
      class="border-b-2 border-transparent text-gray-500 hover:text-primary py-4 text-sm font-bold"
    >
      Perfil Ingreso
    </a>

    <a
      href="#curriculum"
      class="border-b-2 border-transparent text-gray-500 hover:text-primary py-4 text-sm font-bold"
    >
      Plan de estudios
    </a>

    <a
      href="#graduate-profile"
      class="border-b-2 border-transparent text-gray-500 hover:text-primary py-4 text-sm font-bold"
    >
      Perfil de egreso
    </a>

  </nav>
</div>